body {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #77B0AA; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: "Poppins", sans-serif;
}

h1,p {
    margin: 1em auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0;
    color: brown;
}

p {
    font-size: 2rem;
    margin-top: 10px;
    color: brown;
}

.container {
    background-color: #07195295;
    margin: 2rem auto;
    width: 55vw;
    /* max-width: 700px;
    min-width: 300px; */
    border-radius: 20px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,select,textarea {
    /* display: block; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    /* height: 1.5rem; */
    min-height: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: black;
}

.recommend > input[type="radio"] {
    /* display: inline-block; */
    width: unset;
    width: 1.5rem;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

.improve > input[type="checkbox"] {
    width: unset;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 0.5rem 0 0;
    /* display: inline; */
}

form {
    padding: 2.5rem 3.5rem;
    color: white;
    font-size: 2rem;
}

input[type="submit"] {
    background-color: rgb(43, 167, 80);
    display: block;
    font-size: 2rem;
    height: 3.5rem;
    width: 60%;
    margin: 0 auto;
    min-width: 300px;
    border-radius: 5px;
    color: white;
    margin-top: 70px;
    border-color: antiquewhite;
}

input::placeholder, select::placeholder, textarea::placeholder {
    padding: 0.5rem 0.2rem;
    /* padding-top: 0.5rem; */
    font-size: 1rem;;
}  
